.topBanner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, white, #9e9e9e); 
    text-align: center;
    font-family: sans-serif;
}


.outputArea {
    background-color: white;
    border: 2px solid orange;
    width: 300px;        
    height: 100px;       
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    white-space: pre-wrap; 
    box-sizing: border-box;
}

/* Updated button style */
.button {
    background-color: #0fd93e; 
    border: 2px solid #12a70f; 
    border-radius: 8px;
    color: white;
    padding: 6px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2ba214; 
}

.leftColumn {
    float: left;
    width: 30%;
}

.middleColumn {
    float: left;
    width: 30%;
}

.rightColumn {
    float: left;
    width: 40%;
}
