body{
    margin: 0;
    background: gray;
    text-align: center;
}

.topLeftLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px; /* Adjust size as needed */
    height: auto;
    z-index: 1000; /* Make sure it stays on top */
}

.outputArea{
   background-color: rgb(179, 25, 14);
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
}

.leftColumn{
    float: left;
    width: 33.33%;
}

.middleColumn{
    float: left;
    width: 33.33%;
}

.rightColumn{
    float: left;
    width: 33.33%;
}

.button{
    background-color: rgb(179, 25, 14);
    border-radius: 10px;
    color: black;
    border: 10px black;
    padding: 3px 15px;
}